adf_data_ingestion/pipeline/bottom_silver_ing.json
{
	"name": "bottom_silver_ing",
	"properties": {
		"activities": [
			{
				"name": "ing_silver",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ing_silver",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"project_name": {
							"value": "@pipeline().parameters.project_name",
							"type": "Expression"
						},
						"load_type": {
							"value": "@pipeline().parameters.load_type",
							"type": "Expression"
						},
						"notebook_version": {
							"value": "@pipeline().parameters.notebook_version",
							"type": "Expression"
						},
						"db_name": {
							"value": "@pipeline().parameters.db_name",
							"type": "Expression"
						},
						"tbl_name": {
							"value": "@pipeline().parameters.tbl_name",
							"type": "Expression"
						},
						"src_path": {
							"value": "@pipeline().parameters.src_path",
							"type": "Expression"
						},
						"tgt_path": {
							"value": "@pipeline().parameters.tgt_path",
							"type": "Expression"
						},
						"join_condition": {
							"value": "@pipeline().parameters.join_condition",
							"type": "Expression"
						},
						"composite_key_list": {
							"value": "@pipeline().parameters.composite_key_list",
							"type": "Expression"
						},
						"partition_command": {
							"value": "@pipeline().parameters.partition_command",
							"type": "Expression"
						},
						"partition_column": {
							"value": "@pipeline().parameters.partition_column",
							"type": "Expression"
						},
						"obj_job_parameters": {
							"value": "@pipeline().parameters.obj_job_parameters",
							"type": "Expression"
						},
						"incr_col_filt1": {
							"value": "@pipeline().parameters.incr_col_filt1",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Obj Run Stats Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If hard delete is required or not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@{pipeline().parameters.audit_schema}.[SET_OBJ_RUN_STATS]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"JOB_RUN_ID": {
							"value": {
								"value": "@pipeline().parameters.job_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"OBJ_ID": {
							"value": {
								"value": "@pipeline().parameters.obj_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"OBJ_RUN_ID": {
							"value": {
								"value": "@pipeline().parameters.obj_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"OBJ_STATUS": {
							"value": "SUCCESS",
							"type": "String"
						},
						"OPERATION_TYPE": {
							"value": "UPDATE",
							"type": "String"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": null,
							"type": "Int64"
						},
						"SRC_NAME": {
							"value": {
								"value": "@pipeline().parameters.src_name_param",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_PATH": {
							"value": {
								"value": "@pipeline().parameters.src_path",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_SCHEMA_ID": {
							"value": {
								"value": "@pipeline().parameters.src_schema_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TARGET_COUNT": {
							"value": null,
							"type": "Int64"
						},
						"TGT_PATH": {
							"value": {
								"value": "@pipeline().parameters.tgt_path",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_AzureSqlDb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Obj Run Stats Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ing_silver",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "If hard delete is required or not",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@{pipeline().parameters.audit_schema}.[SET_OBJ_RUN_STATS]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"JOB_RUN_ID": {
							"value": {
								"value": "@pipeline().parameters.job_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"OBJ_ID": {
							"value": {
								"value": "@pipeline().parameters.obj_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"OBJ_RUN_ID": {
							"value": {
								"value": "@pipeline().parameters.obj_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"OBJ_STATUS": {
							"value": "BRONZE_SUCCESS",
							"type": "String"
						},
						"OPERATION_TYPE": {
							"value": "UPDATE",
							"type": "String"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": null,
							"type": "Int64"
						},
						"SRC_NAME": {
							"value": {
								"value": "@pipeline().parameters.src_name_param",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_PATH": {
							"type": "String"
						},
						"SRC_SCHEMA_ID": {
							"value": {
								"value": "@pipeline().parameters.src_schema_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TARGET_COUNT": {
							"value": null,
							"type": "Int64"
						},
						"TGT_PATH": {
							"value": {
								"value": "@pipeline().parameters.file_path",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_AzureSqlDb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If hard delete is required or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup hard delete flag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Lookup hard delete flag').output.firstrow.HARDDELETE,'Y'),equals(pipeline().parameters.load_type,'I'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "hard delete not enabled",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "harddelete_switch",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Lookup hard delete params",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "harddelete_switch",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"src_db_type": {
										"value": "@pipeline().parameters.src_db_type",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"obj_name": {
										"value": "@pipeline().parameters.obj_name",
										"type": "Expression"
									},
									"harddelete_select_stmt": {
										"value": "@activity('Lookup hard delete params').output.firstRow.HARDDELETE_SELECT_STMT",
										"type": "Expression"
									},
									"split_by_col": {
										"value": "@pipeline().parameters.split_by_col",
										"type": "Expression"
									},
									"conn_vault_name": {
										"value": "@pipeline().parameters.conn_vault_name",
										"type": "Expression"
									},
									"harddelete_file_path": {
										"value": "@activity('Lookup hard delete params').output.firstRow.HARDDELETE_PATH",
										"type": "Expression"
									},
									"load_type": "F",
									"mappers": {
										"value": "@pipeline().parameters.mappers",
										"type": "Expression"
									},
									"hard_delete_incr_cond": {
										"value": "@activity('Lookup hard delete params').output.firstRow.HARDDELETE_INCR_COND",
										"type": "Expression"
									},
									"src_name": {
										"value": "@pipeline().parameters.src_name_param",
										"type": "Expression"
									},
									"db_name": {
										"value": "@activity('Lookup hard delete params').output.firstRow.DB_NAME",
										"type": "Expression"
									},
									"cmpst_key": {
										"value": "@pipeline().parameters.composite_key_list",
										"type": "Expression"
									},
									"cmpst_join_sql": {
										"value": "@pipeline().parameters.join_condition",
										"type": "Expression"
									},
									"databricks_incr_cond": {
										"value": "@activity('Lookup hard delete params').output.firstRow.DATABRICKS_INCR_COND",
										"type": "Expression"
									},
									"notebook_version": {
										"value": "@pipeline().parameters.notebook_version",
										"type": "Expression"
									},
									"project_name": {
										"value": "@pipeline().parameters.project_name",
										"type": "Expression"
									},
									"top_param_value": {
										"value": "@activity('Lookup hard delete params').output.firstRow.TOP_PARAM_VALUE",
										"type": "Expression"
									},
									"page_size": {
										"value": "@activity('Lookup hard delete params').output.firstRow.PAGE_SIZE",
										"type": "Expression"
									},
									"file_path": {
										"value": "@activity('Lookup hard delete params').output.firstRow.HARDDELETE_PATH",
										"type": "Expression"
									},
									"username": {
										"value": "@activity('Lookup hard delete params').output.firstRow.USERNAME",
										"type": "Expression"
									},
									"db_server_name": {
										"value": "@activity('Lookup hard delete params').output.firstRow.DB_SERVER_NAME",
										"type": "Expression"
									},
									"select_stmt": {
										"value": "@activity('Lookup hard delete params').output.firstRow.SELECT_STMT",
										"type": "Expression"
									},
									"query_filter_conditions": {
										"value": "@activity('Lookup hard delete params').output.firstRow.QUERY_FILTER_CONDITIONS",
										"type": "Expression"
									},
									"query_incr_filter": {
										"value": "@activity('Lookup hard delete params').output.firstRow.QUERY_INCR_FILTER",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Lookup hard delete params",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "@{pipeline().parameters.audit_schema}.[GET_HARDDELETE_PARAMS]",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"CMPST_KEY": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.composite_key_list",
												"type": "Expression"
											}
										},
										"OBJ_ID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.obj_id",
												"type": "Expression"
											}
										},
										"OBJ_NAME": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.obj_name",
												"type": "Expression"
											}
										},
										"SCHEMA_NAME": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.schema_name",
												"type": "Expression"
											}
										},
										"SRC_DB_TYPE": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.src_db_type",
												"type": "Expression"
											}
										},
										"SRC_NAME": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.src_name_param",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Ds_GetsetMetadata",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup hard delete flag",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ing_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select harddelete from @{pipeline().parameters.audit_schema}.OBJ_METADATA where obj_id = @{pipeline().parameters.obj_id}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_GetsetMetadata",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"batch_run_id": {
				"type": "string"
			},
			"job_run_id": {
				"type": "string"
			},
			"src_id": {
				"type": "string"
			},
			"src_schema_id": {
				"type": "string"
			},
			"audit_schema": {
				"type": "string"
			},
			"project_name": {
				"type": "string"
			},
			"notebook_version": {
				"type": "string"
			},
			"obj_id": {
				"type": "string"
			},
			"obj_run_id": {
				"type": "string"
			},
			"src_name": {
				"type": "string"
			},
			"load_type": {
				"type": "string"
			},
			"db_name": {
				"type": "string"
			},
			"tbl_name": {
				"type": "string"
			},
			"src_path": {
				"type": "string"
			},
			"tgt_path": {
				"type": "string"
			},
			"join_condition": {
				"type": "string"
			},
			"composite_key_list": {
				"type": "string"
			},
			"partition_command": {
				"type": "string"
			},
			"partition_column": {
				"type": "string"
			},
			"obj_job_parameters": {
				"type": "string"
			},
			"incr_col_filt1": {
				"type": "string"
			},
			"obj_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			},
			"src_db_type": {
				"type": "string"
			},
			"src_name_param": {
				"type": "string"
			},
			"split_by_col": {
				"type": "string"
			},
			"conn_vault_name": {
				"type": "string"
			},
			"mappers": {
				"type": "string"
			},
			"file_path": {
				"type": "string"
			}
		},
		"variables": {
			"audit_schema": {
				"type": "String"
			},
			"src_db_type": {
				"type": "String"
			},
			"errorCatch": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00_Ingestion_Framework/02_Bottom"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-09T07:59:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}