adf_data_ingestion/pipeline/MetadataDrivenCopyTask_fva_TopLevel.json
{
	"name": "MetadataDrivenCopyTask_fva_TopLevel",
	"properties": {
		"description": "This pipeline will count the total number of objects (tables etc.) required to be copied in this run, come up with the number of sequential batches based on the max allowed concurrent copy task, and then execute another pipeline to copy different batches sequentially.",
		"activities": [
			{
				"name": "GetSumOfObjectsToCopy",
				"description": "Count the total number of objects (tables etc.) required to be copied in this run.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Limpia tabla de errores",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) as count FROM @{pipeline().parameters.MainControlTableName} where TopLevelPipelineName='@{pipeline().Pipeline}' and CopyEnabled = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_Database_Azure_BDWISECBI",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": "dbo",
							"cw_table": "MainControlTable"
						}
					}
				}
			},
			{
				"name": "CopyBatchesOfObjectsSequentially",
				"description": "Come up with the number of sequential batches based on the max allowed concurrent copy tasks, and then execute another pipeline to copy different batches sequentially.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSumOfObjectsToCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, add(div(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks),\n                    if(equals(mod(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks), 0), 0, 1)))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyObjectsInOneBtach",
							"description": "Execute another pipeline to copy one batch of objects. The objects belonging to this batch will be copied parallelly.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MetadataDrivenCopyTask_fva_MiddleLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MaxNumberOfObjectsReturnedFromLookupActivity": {
										"value": "@pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity",
										"type": "Expression"
									},
									"TopLevelPipelineName": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"CurrentSequentialNumberOfBatch": {
										"value": "@item()",
										"type": "Expression"
									},
									"SumOfObjectsToCopy": {
										"value": "@activity('GetSumOfObjectsToCopy').output.firstRow.count",
										"type": "Expression"
									},
									"SumOfObjectsToCopyForCurrentBatch": {
										"value": "@min(pipeline().parameters.MaxNumberOfConcurrentTasks, activity('GetSumOfObjectsToCopy').output.firstRow.count)",
										"type": "Expression"
									},
									"MainControlTableName": {
										"value": "@pipeline().parameters.MainControlTableName",
										"type": "Expression"
									},
									"cw_schema": "dbo",
									"cw_table": "MainControlTable"
								}
							}
						}
					]
				}
			},
			{
				"name": "Limpia tabla de errores",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ClearLog]"
				},
				"linkedServiceName": {
					"referenceName": "Ls_AzureSql",
					"type": "LinkedServiceReference",
					"parameters": {
						"secret_name": "KV-Database-Azure-BDWISECBI"
					}
				}
			},
			{
				"name": "EnvioDeCorreos",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CopyBatchesOfObjectsSequentially",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					},
					{
						"activity": "Cluster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/temp/Notif_Ingesta",
					"baseParameters": {
						"Correos": {
							"value": "@pipeline().parameters.Correo",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_ConnectionDatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"cluster_version": {
							"value": "@activity('Cluster').output.firstRow.cluster_version",
							"type": "Expression"
						},
						"worker_count": "1",
						"billing_name": {
							"value": "@activity('Cluster').output.firstRow.billing_name",
							"type": "Expression"
						},
						"pool_id": {
							"value": "@activity('Cluster').output.firstRow.pool_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cluster",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_get_databricks_billing]",
						"storedProcedureParameters": {
							"DATAFACTORY_NAME": {
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PROJECT_NAME": {
								"value": "cloud_sec"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_Database_Billing",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"MaxNumberOfObjectsReturnedFromLookupActivity": {
				"type": "int",
				"defaultValue": 5000
			},
			"MaxNumberOfConcurrentTasks": {
				"type": "int",
				"defaultValue": 20
			},
			"MainControlTableName": {
				"type": "string",
				"defaultValue": "dbo.MainControlTable"
			},
			"Correo": {
				"type": "string",
				"defaultValue": "luis.montesinos@infosapiens.mx"
			}
		},
		"folder": {
			"name": "07_Framework"
		},
		"annotations": [
			"MetadataDrivenSolution"
		],
		"lastPublishTime": "2022-03-29T18:47:45Z"
	}
}